.block_page_create_test{
    min-height: 100vh;
    max-height: auto;
    background-color: white;
}

/* стили заголовка страницы */
.block_header_page{
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 20px;
}

/* стили кнопки создания теста */
.button_create{
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 20px;
}
.button_test_style{
    /* background-color: white; */
    background-color: white;
            color: #1c3572;
            border: 2px solid #1c3572;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: larger;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}
.button_test_style:hover{
    background-color: #1c3572;
        color: white;
}
.button_test_style:active {
    background-color: #142657; /* Немного темнее при нажатии */
}


/* если пойдёт что то не так удалить этот стиль */
.cards_place_v2{
    display: flex;
    justify-content: center;
}

/* это не удалять */
.cards_tests_place{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.cards_body_tests_buttons_place{
    display: flex;
    flex-direction: column;
}

.cards_body_tests_buttons{
    width: auto;
    margin-top: 2px ;
    margin-bottom: 2px;
}

.cards_style_tests{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width:300px;
    max-width: auto;
    height:auto;
    border:2px solid #1c3572;
}

/* карточки уровней */
.card_level_style{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cards_level_buttons{
    margin: 5px;
    min-width: 250px;
    max-width: auto;
}

.tasks_buttons_style{
    margin: 5px;
}

/* стиль для формы создания названия теста */
.create_test_form{
    display: flex;
    justify-content: center;
}

.card_form_create_test{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    min-width:300px;
    max-width: auto;
    height:auto;
    border:2px solid black;
}
.card_input_style{
    width: 100%;
    font-family: Verdana;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px solid gray;
    
}