.block_page_planning_audits{
    min-height: 100vh;
    max-height: auto;
}

.block_input_audit{
    display: flex;
    flex-direction: column;
}
.input_audit{
    margin: 5px;
}
.table_form_v3_style{
    padding: 2%;
}